Nunez 4 4 2 5
Huntington 1 A 2 3
Blue 8 2 6 5
IHCS 4 6 8 3
Bubbles A 2 A 5
Boiler 2 4 5 2
JojoSiwa 3 2 A 9
Ella 3 2 1 A
Laundry 7 8 2 A
Water 4 3 3 2
GreenBean 2 2 3 4
Sandwich 9 A 3 4
Red 3 4 5 A
OOD 1 9 7 4
Computer 3 4 5 6
Music 1 6 7 8
TooManyCards 3 2 1 6
Hello 3 2 1 5
Phone 4 5 6 7
Watch 2 3 5 6
FrenchFry 5 6 7 8
FavoriteCard A A A 9
TwentyThirdCard 3 4 5 6
Intellij 7 8 9 1
Juice 5 6 7 8
Rabbit 3 4 5 6
Husky 3 3 3 3
Wild 4 9 A 1
Triple 4 3 9 8
Morning 6 7 8 9
Banana 5 1 4 A